
.main-page {
    margin: ($base-size * 3.5) auto;
    padding: ($base-size * 6) ($base-size * 4);
    background: $color-light;
    border-bottom: 1px solid lighten($color-dark, 70%);
    border-radius: $radius;
}

.main-container{
    display: flex;
    align-items: center;

    span{
        font-size: 22px;
        font-weight: bold;
        text-decoration: none;
        color: white;
    }
}

.order-main-container, .booking-main-container {
    display: flex;
    flex: 1;
    color: white;
    height: 100px;
    margin-bottom: 5px;
    justify-content: center;
    align-items: center;
    padding: auto;
}

.order-main-container{
    margin-right: 5px;
    background-image: url(../../images/pizza-1.jpg);
    background-position: center;
    background-size: cover;
}

.order-main-container:hover span {
    margin-top: -25px;
    transition: all 1s;
}

.booking-main-container:hover span {
    margin-top: -25px;
    transition: all 1s;
}

.booking-main-container{
    margin-left: 5px;
    background-image: url(../../images/pizza-2.jpg);
    background-position: center;
    background-size: cover;
}

.opening-hours-main-container{
    display: flex;
    flex: 2;
    flex-direction: column;
    height: 100px;
    justify-content: center;
    align-items: center;
    background-color: #ff6b6b;
    color: white;
    span{
        display: flex;
        flex: 1;
        justify-content: center;
        align-items: flex-end;
        margin: 0;
        padding: 0;
    }
    .opening-hours-list{
        font-size: 14px;
        align-items: baseline;
        font-weight: normal;
        font-style: italic;
    }
}

.carousel-cell{
    margin-top: 75px;
    display: flex;
    height: 250px;

    .img-carousel{
        flex: 1;
        display: flex;
        img{
            margin-left: 5%;
            width: 100%;
            height: 80%;
        }
    }

    .description-carousel{
        flex: 1;
        margin-left: 10%;

        p{
            font-size: 13px;
        }
    }
}

.galery{
    margin-top: 75px;
}

.row{
        display: flex;
        height: 150px;
        margin-top: 20px;
        gap: 20px;
    }
    
.galery-img{
    flex: 1;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;

    img{
        overflow: hidden;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6); /* czarne półprzezroczyste tło */
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  
  transition: opacity 0.4s ease;

  i{
    color: white;
    padding-left: 7px;
    font-size: 18px;
  }
}

.galery-img:hover .overlay {
  opacity: 1;
  i{
    color: #ff6b6b;
  }
}